.lfo-range-toggle {
  width: 70px;
  display: inline-block;
}
.lfo-right {
  float: left;
}
.lfo-waveform-toggle {
  width: 64px;
  display: inline-block;
}
.lfo-freq-notes-toggle {
  width: 32px;
  display: inline-block;
}
