.mixer-channel {
  float: left;
}
.master-left {
  float: left;
}

.tag {
  display: inline-block;
  padding: 5px;
  text-align: right;
  width: 24px;
  margin: 0 0 5px 0;
  background-color: whitesmoke;
  font-size: 8px;
}

.spectrum {
  width: 256px;
  height: 512px;
}
