

<div class="master-left">
    <app-slider [signal]="bpm"
                style="color:grey"
                [min]="50.0"
                [max]="200.0"
                [name]="'bpm'"></app-slider>
    <br>
    <span class="tag">{{ beats?.toFixed(0) }}</span>
</div>

        <div class="mixer-channel" *ngFor="let c of channels; let i = index">
            <app-slider [signal]="c.gain"
                        style="color:grey"
                        [min]="0.0"
                        [max]="1.0"
                        [name]="'volume'"></app-slider>
            <br>
            <app-sink [signal]="c" [parent]="'master'" [name]="'ch'+(i + 1)"></app-sink>
        </div>

