<svg class="spectrum">
    <g *ngIf="!!bands">
        <path fill="none" stroke="lightgrey" *ngFor="let p of paths" [attr.d]="p"></path>
    </g>
    <g *ngIf="!!wavePoints">
        <path fill="none" stroke="black" stroke-opacity="0.75" [attr.d]="w"></path>
    </g>
</svg>

<div class="master-left">
    <app-slider [signal]="bpm"
                style="color:grey"
                [min]="50.0"
                [max]="200.0"
                [name]="'bpm'"></app-slider>
    <br>
    <span class="tag">{{ beats?.toFixed(0) }}</span>
</div>

        <div class="mixer-channel" *ngFor="let c of channels">
            <app-slider [signal]="c.gain"
                        style="color:grey"
                        [min]="0.0"
                        [max]="1.0"
                        [name]="'volume'"></app-slider>
            <br>
            <app-sink [signal]="c"></app-sink>
        </div>

