.seq-signals {
  float: left;
}

.seq-left {
  float: left;
}
.seq-right {
  float: right;
}

.seq-btn {
  cursor: pointer;
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 8px;
  font-weight: bold;
  background-color: whitesmoke;
  line-height: 32px;
  text-align: center;
}
.seq-btn-stop {
  background-color: lightblue;
}

.seq-btn-pulse {
  background-color: red;
}

a.binary-toggle {
  padding: 4px;
  background-color: whitesmoke;
  margin: 0 4px 4px 0;
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 8px;
  margin: 0 4px 4px 0;
  font-weight: bold;
  text-transform: uppercase;
}
a.binary-toggle.active {
  padding: 4px;
  background-color: lightblue;
  margin: 0 4px 4px 0;
  display: block;
}
