


<div class="seq-signals" *ngFor="let c of seq.values; let i = index">

    <app-slider [signal]="c"
                [style.color]="seq.state === i ? 'red' : 'grey'"
                [min]="0.0"
                [max]="1.0"
                [name]="i + 1"></app-slider>

    <!--<app-binary [options]="[0, 1]"-->
                <!--(toggle)="activeSignals[i] = $event"-->
                <!--[active]="activeSignals[i]"></app-binary>-->

        <a (click)="seq.active[i] = !seq.active[i]"
           class="binary-toggle"
           [class.active]="seq.active[i]">{{ seq.active[i] ? '1' : '0' }}</a>

    <!--<app-toggles [options]="[0, 1]"-->
                 <!--(toggle)="activeSignals[i] = $event"-->
                 <!--[activeOption]="activeSignals[i]"></app-toggles>-->
</div>

<div class="seq-right">

    <app-sink [name]="'clk'"
              [parent]="'clk'"
              [signal]="seq.clock"></app-sink>

    <!--<app-sink [name]="'clk'"-->
    <!--(gate)="clockSignal($event)"-->
    <!--[parent]="'clk'"-->
    <!--[signal]="clock"></app-sink>-->
    <br>

    <app-source [name]="'cv'" [signal]="seq.cv"></app-source>
    <br>
    <app-source #source [name]="'gate'" [signal]="seq.gate"></app-source>
</div>

