<app-sink [name]="'freq'" [signal]="osc.frequency"></app-sink>

<app-toggles [options]="types"
             [name]="'waveform'"
             class="osc-waveform-toggle"
             (toggle)="setType($event)"
             [activeOption]="currentType"></app-toggles>

<app-toggles [options]="classes"
             [name]="'class'"
             class="osc-waveform-toggle"
             (toggle)="setClass($event)"
             [activeOption]="currentClass"></app-toggles>


<app-slider [signal]="osc.detune"
            style="color:grey"
            [min]="-12.0"
            [max]="12.0"
            [name]="'detune'"></app-slider>

<app-slider [signal]="osc.volume"
            style="color:grey"
            [min]="-10.0"
            [max]="10.0"
            [name]="'volume'"></app-slider>

<app-slider [signal]="osc.width"
            style="color:grey"
            [min]="0.0"
            [max]="1.0"
            *ngIf="currentClass === 5"
            [name]="'width'"></app-slider>

<app-slider [signal]="osc.harmonicity"
            style="color:grey"
            [min]="0.0"
            [max]="5.0"
            *ngIf="currentClass === 3 || currentClass === 4"
            [name]="'harmonicity'"></app-slider>

<app-source [name]="'out'" [signal]="osc"></app-source>

