body {
  font-family: monospace;
  margin: 1em;
  user-select: none;
}

.main {
  //display: grid;
  //grid-gap: 10px;
  //grid-auto-flow: row;
  //grid-template-rows: 250px;
  //grid-template-columns: 300px 300px 300px;
}

.instr {
  border: 1px solid whitesmoke;
  float: left;
  height: 200px;
  margin: 0 1em 1em 0;
}

.instr-title {
  background-color: whitesmoke;
  text-transform: uppercase;
  font-family: monospace;
  font-weight: bold;
  font-size: 8px;
  color: grey;
  line-height: 16px;
  height: 16px;
  padding: 0 0 0 8px;
  margin: 0;
  display: block;
}

.instr-controls {
  padding: 1em 0.3em 1em 1em;
}

.instr-close {
  float: right;
  margin: 2px 2px 0 0;
  cursor: pointer;
  background-color: lightgray;
  color: white;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 8px;
  font-size: 6px;
  line-height: 10px;
  text-align: center;
}


.footer-message {
  border-top: 5px solid whitesmoke;
  padding: 5px;
  color: lightgrey;
  margin-top: 5em;
  font-weight:bold;
  text-transform: lowercase;
}
.help {
  font-size: 10px;
  color: lightgrey;
  padding: 0 5px;
  font-weight:bold;
  text-transform: lowercase;
}

